name: ci

on:
  push:
  pull_request:

env:
  MAVEN: ./mvnw

jobs:
  maven-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version:
          - 11
          - 17
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: 'maven'
      - name: Maven build
        run: |
          $MAVEN clean install -B
